.row
  .span8.offset2
    %h2.center= link_to "Notificador de envíos", root_path
    %p Escribe el código de seguimiento y tu email. Te notificaremos cuando el envío llegue a Chile.

    - if @shipment.errors.any?
      .alert.alert-error
        %strong Hubo errores al enviar el formulario!
        %ul
        - @shipment.errors.full_messages.each do |m|
          %li= m
          
    = form_for @shipment, :html => { :class => "form-horizontal" } do |f|
      %fieldset
        .control-group
          = f.label :tracking_code, "Código"
          .controls= f.text_field :tracking_code, :rows => 5, :cols => nil, :class => "span6"

        .control-group
          = f.label :email
          .controls
            = f.email_field :email, :class => "span6"
            %p.help-block
              Te enviaremos un email para que confirmes tu dirección.

        .form-actions
          %button.btn.btn-primary{:type => :submit} Enviar