.row
  .span8.offset2
    / %p
    /   El servicio es completamente gratis, y créenos, nos carga el spam igual que a tí, 
    /   por lo que no compartiremos tu email con
    /   %strong nadie :)

    - if @shipment.errors.any?
      .alert.alert-error
        %strong Hubo errores al enviar el formulario!
        %ul
        - @shipment.errors.full_messages.each do |m|
          %li= m
          
= form_for @shipment, :html => { :class => "form-horizontal" } do |f|
  .row
    .span6.offset2
      %fieldset
        .control-group
          = f.label :tracking_code, "Código", :class => "control-label"
          .controls= f.text_field :tracking_code

        .control-group
          = f.label :description, "Descripción", :class => "control-label"
          .controls= f.text_field :description

        .control-group
          = f.label :email, :class => "control-label"
          .controls
            = f.email_field :email
            %p.help-block
              Te enviaremos un email para que confirmes tu dirección.
    .span2
      .center.submit-button
        %button.btn.btn-primary.btn-large{:type => :submit} 
          %i.icon-ok
          Enviar